import _frozen_importlib # frozen
import _imp # builtin
import '_thread' # <class '_frozen_importlib.BuiltinImporter'>
import '_warnings' # <class '_frozen_importlib.BuiltinImporter'>
import '_weakref' # <class '_frozen_importlib.BuiltinImporter'>
import 'winreg' # <class '_frozen_importlib.BuiltinImporter'>
import '_io' # <class '_frozen_importlib.BuiltinImporter'>
import 'marshal' # <class '_frozen_importlib.BuiltinImporter'>
import 'nt' # <class '_frozen_importlib.BuiltinImporter'>
import '_frozen_importlib_external' # <class '_frozen_importlib.FrozenImporter'>
# installing zipimport hook
import 'time' # <class '_frozen_importlib.BuiltinImporter'>
import 'zipimport' # <class '_frozen_importlib.FrozenImporter'>
# installed zipimport hook
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\__pycache__\__init__.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\__init__.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\encodings\\__pycache__\\__init__.cpython-312.pyc'
import '_codecs' # <class '_frozen_importlib.BuiltinImporter'>
import 'codecs' # <class '_frozen_importlib.FrozenImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\__pycache__\aliases.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\aliases.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\encodings\\__pycache__\\aliases.cpython-312.pyc'
import 'encodings.aliases' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0A98AD0>
import 'encodings' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0A6AF00>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\__pycache__\utf_8.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\utf_8.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\encodings\\__pycache__\\utf_8.cpython-312.pyc'
import 'encodings.utf_8' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0A9B320>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\__pycache__\cp1252.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\encodings\cp1252.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\encodings\\__pycache__\\cp1252.cpython-312.pyc'
import 'encodings.cp1252' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0A9B4D0>
import '_signal' # <class '_frozen_importlib.BuiltinImporter'>
import '_abc' # <class '_frozen_importlib.BuiltinImporter'>
import 'abc' # <class '_frozen_importlib.FrozenImporter'>
import 'io' # <class '_frozen_importlib.FrozenImporter'>
import '_stat' # <class '_frozen_importlib.BuiltinImporter'>
import 'stat' # <class '_frozen_importlib.FrozenImporter'>
import '_collections_abc' # <class '_frozen_importlib.FrozenImporter'>
import 'genericpath' # <class '_frozen_importlib.FrozenImporter'>
import '_winapi' # <class '_frozen_importlib.BuiltinImporter'>
import 'ntpath' # <class '_frozen_importlib.FrozenImporter'>
import 'os' # <class '_frozen_importlib.FrozenImporter'>
import '_sitebuiltins' # <class '_frozen_importlib.FrozenImporter'>
Processing user site-packages
Processing global site-packages
Adding directory: 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312'
Adding directory: 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages'
Processing .pth file: 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages\\distutils-precedence.pth'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\site-packages\_distutils_hack\__pycache__\__init__.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\site-packages\_distutils_hack\__init__.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages\\_distutils_hack\\__pycache__\\__init__.cpython-312.pyc'
import '_distutils_hack' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D06720>
import 'site' # <class '_frozen_importlib.FrozenImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\rlcompleter.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\rlcompleter.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\rlcompleter.cpython-312.pyc'
import 'atexit' # <class '_frozen_importlib.BuiltinImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\inspect.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\inspect.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\inspect.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\ast.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\ast.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\ast.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__pycache__\__init__.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__init__.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\re\\__pycache__\\__init__.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\enum.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\enum.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\enum.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\types.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\types.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\types.cpython-312.pyc'
import 'types' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D814F0>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\operator.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\operator.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\operator.cpython-312.pyc'
import '_operator' # <class '_frozen_importlib.BuiltinImporter'>
import 'operator' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D816A0>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\functools.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\functools.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\functools.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\collections\__pycache__\__init__.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\collections\__init__.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\collections\\__pycache__\\__init__.cpython-312.pyc'
import 'itertools' # <class '_frozen_importlib.BuiltinImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\keyword.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\keyword.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\keyword.cpython-312.pyc'
import 'keyword' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DD1190>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\reprlib.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\reprlib.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\reprlib.cpython-312.pyc'
import 'reprlib' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DD1460>
import '_collections' # <class '_frozen_importlib.BuiltinImporter'>
import 'collections' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D94F50>
import '_functools' # <class '_frozen_importlib.BuiltinImporter'>
import 'functools' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D82840>
import 'enum' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D6A870>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__pycache__\_compiler.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\_compiler.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\re\\__pycache__\\_compiler.cpython-312.pyc'
import '_sre' # <class '_frozen_importlib.BuiltinImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__pycache__\_parser.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\_parser.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\re\\__pycache__\\_parser.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__pycache__\_constants.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\_constants.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\re\\__pycache__\\_constants.cpython-312.pyc'
import 're._constants' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DF49B0>
import 're._parser' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DD35C0>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\__pycache__\_casefix.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\re\_casefix.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\re\\__pycache__\\_casefix.cpython-312.pyc'
import 're._casefix' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DF4CB0>
import 're._compiler' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D95910>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\copyreg.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\copyreg.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\copyreg.cpython-312.pyc'
import 'copyreg' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0DF5CD0>
import 're' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D69BB0>
import '_ast' # <class '_frozen_importlib.BuiltinImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\contextlib.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\contextlib.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\contextlib.cpython-312.pyc'
import 'contextlib' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E19B80>
import 'ast' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D50350>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\dis.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\dis.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\dis.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\opcode.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\opcode.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\opcode.cpython-312.pyc'
import '_opcode' # <class '_frozen_importlib.BuiltinImporter'>
import 'opcode' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E41160>
import 'dis' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D51520>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\collections\__pycache__\abc.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\collections\abc.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\collections\\__pycache__\\abc.cpython-312.pyc'
import 'collections.abc' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E42C00>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\importlib\__pycache__\__init__.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\importlib\__init__.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\importlib\\__pycache__\\__init__.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\warnings.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\warnings.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\warnings.cpython-312.pyc'
import 'warnings' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E420F0>
import 'importlib' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E428D0>
import 'importlib.machinery' # <class '_frozen_importlib.FrozenImporter'>
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\linecache.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\linecache.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\linecache.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\tokenize.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\tokenize.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\tokenize.cpython-312.pyc'
# C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\__pycache__\token.cpython-312.pyc matches C:\Users\rohht\AppData\Local\Programs\Python\Python312\Lib\token.py
# code object from 'C:\\Users\\rohht\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\__pycache__\\token.cpython-312.pyc'
import 'token' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E5E9F0>
import '_tokenize' # <class '_frozen_importlib.BuiltinImporter'>
import 'tokenize' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E5D550>
import 'linecache' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0E5D310>
import 'inspect' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D07380>
import 'rlcompleter' # <_frozen_importlib_external.SourceFileLoader object at 0x00000229B0D05730>
Python 3.12.3 (tags/v3.12.3:f6650f9, Apr  9 2024, 14:05:25) [MSC v.1938 64 bit (AMD64)] on win32